---
# Common tasks for all Hecate nodes

- name: Gather facts
  setup:
    gather_subset:
      - hardware
      - network

- name: Display node info
  debug:
    msg: "{{ inventory_hostname }}: {{ ansible_memtotal_mb }}MB RAM, {{ ansible_processor_vcpus }} CPUs"

- name: Install common dependencies
  package:
    name:
      - curl
      - ca-certificates
      - git
    state: present

- name: Configure firewall (ufw)
  include_tasks: firewall-ufw.yml
  when: ansible_facts.services['ufw.service'] is defined or ansible_os_family == 'Debian'
  tags: [firewall]

- name: Configure firewall (firewalld)
  include_tasks: firewall-firewalld.yml
  when: ansible_facts.services['firewalld.service'] is defined
  tags: [firewall]

- name: Create hecate directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - "/home/{{ ansible_user }}/.hecate"
    - "/home/{{ ansible_user }}/.hecate/hecate-daemon/sqlite"
    - "/home/{{ ansible_user }}/.hecate/hecate-daemon/reckon-db"
    - "/home/{{ ansible_user }}/.hecate/hecate-daemon/sockets"
    - "/home/{{ ansible_user }}/.hecate/hecate-daemon/run"
    - "/home/{{ ansible_user }}/.hecate/hecate-daemon/connectors"
    - "/home/{{ ansible_user }}/.hecate/gitops/system"
    - "/home/{{ ansible_user }}/.hecate/gitops/apps"
    - "/home/{{ ansible_user }}/.hecate/config"
    - "/home/{{ ansible_user }}/.hecate/secrets"
    - "/home/{{ ansible_user }}/.local/bin"
    - "/home/{{ ansible_user }}/.config/containers/systemd"
    - "/home/{{ ansible_user }}/.config/systemd/user"
